{
  "trailingComma": "none",
  "tabWidth": 4,
  "useTabs": false,
  "apexInsertFinalNewline": false,
  "overrides": [
    {
      "files": "**/lwc/**/*.html",
      "options": { "parser": "lwc" }
    },
    {
      "files": "*.{cmp,page,component}",
      "options": { "parser": "html" }
    },
    {
      "files" : "**/*.{xml,yaml,yml}",
      "options": { "parser": "yaml", "tabWidth": 2 }      
    }
  ]
}